# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*.local

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# Temporary files
.tmp
temp/

# IDE-specific files
.vscode/
.idea/
*.swp

# Cache
.cache/
.npm
.yarn-cache/
.pnpm-store/
.gitignore
.md

>> git remote add origin git@github.com:jsscoder/Node_js_recap.git      
>> git push -u origin main

